name: test

on:
  push: # any branch
  pull_request:
    branches: [master]

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          sudo apt remove python3-pip
          python -m pip install --upgrade pip
          python -m pip install . ruff mypy pytest readme_renderer
          pip list
      - name: Type Checker
        run: |
          mypy ptpython
          ruff .
          ruff format --check .
      - name: Run Tests
        run: |
          ./tests/run_tests.py
      - name: Validate README.md
        # Ensure that the README renders correctly (required for uploading to PyPI).
        run: |
          python -m readme_renderer README.rst > /dev/null
